.myfont{
    font-family: 'Courier New', Courier, monospace;
}
.site-heading-upper{
    font-family: Helvetica, sans-serif;
    color: whitesmoke;
}
.myimg{
    width: 50% !important;
}
.myitalics{
    font-style: italic !important;
    color: powderblue;
}